body {
    background: #1d1d1d !important;
    background-color: #1d1d1d !important;
}

hr {
    border-top: 1px solid #1d1d1d !important;
}

.u-colorLightGray {
    color: #545454 !important;
}

.u-colorFadedGray {
    color: #1d1d1d !important;
}

.u-colorFaintGray {
    color: #242424 !important;
}

.Icon--unmuted {
    color: #545454 !important;
}

.btn {
    background-color: #242424 !important;
    border: 1px solid #1d1d1d !important;
}

.btn:focus, .btn.focus {
    background: #282828 !important;
}

.btn:hover, .dropdown.open .user-dropdown {
    background-color: #1d1d1d !important;
    border-color: #1d1d1d !important;
}

.btn.active, .btn:active, .dropdown.open .user-dropdown, .btn.open, .open>.btn {
    background: #1d1d1d !important;
    border-color: #545454 !important;
}

.btn.disabled, .btn.disabled:hover, .btn[disabled], .btn[aria-disabled=true] {
    background-color: #545454 !important;
    background-image: linear-gradient(#fff,#242424) !important;
    border-color: #545454 !important;
}

.icon-btn:focus, .icon-btn.focus {
    background: #282828 !important;
}

.icon-btn.enabled {
    background: #1d1d1d !important;
}

.icon-btn.enabled:hover {
    background: #242424 !important;
}

.dropdown-menu {
    background: #343434 !important;
}

.dropdown-divider {
    border-bottom: 1px solid #1d1d1d !important;
}

.dropdown-caret .caret-inner {
    border-bottom-color: #282828 !important;
}

.dropdown-account .pretty-link s {
    color: #545454 !important;
}

.content-narrow {
    background-color: #282828 !important;
}

.permalink {
    background-color: #242424 !important;
}

.content-inner {
    background-color: #282828 !important;
    border-left: 1px solid #1d1d1d !important;
    border-right: 1px solid #1d1d1d !important;
}

.content-inner.no-stream-end {
    border-bottom: 1px solid #1d1d1d !important;
}

.module .flex-module {
    background-color: #282828 !important;
}

.module ul+.flex-module {
    border-top: 1px solid #1d1d1d !important;
}

.module .list-link {
    background-color: #282828 !important;
    border: 1px solid #1d1d1d !important;
}

.module li:first-child .list-link {
    border-top: 1px solid #1d1d1d !important;
}

.dashboard .stats {
    background-color: #282828 !important;
    border: 1px solid #1d1d1d !important;
}

.module .list-link:hover, .module .active .list-link {
    background-color: #282828 !important;
}

.module .list-link:hover {
    background-color: #242424 !important;
}

.content-header, .content-no-header {
    border: 1px solid #1d1d1d !important;
}

.content-header .header-inner {
    background-color: #282828 !important;
    border-bottom: 1px solid #1d1d1d !important;
}

/*.global-nav-inner {*/
/*    background: #343434 !important;*/
/*}*/

.global-dm-nav .dm-new, .global-nav .people .count {
    background-color: #282828 !important;
}

.global-dm-nav.new.with-count .dm-new {
    background: #282828 !important;
}

.global-nav .search-input {
    background-color: #242424 !important;
    border: 1px solid #1d1d1d !important;
}

.global-nav .search-input:focus, .global-nav .search-input.focus {
    background-color: #282828 !important;
}

.typeahead .username s {
    color: #545454 !important;
}

.typeahead-recent-search-item .Icon--close, .typeahead-saved-search-item .Icon--close {
    color: #545454 !important;
}

.typeahead .dropdown-inner>.has-results ~ .has-results, .typeahead .dropdown-inner>.has-items ~ .has-items {
    border-top: 1px solid #1d1d1d !important;
}

.session .dropdown-toggle .caret {
    border-top-color: #545454 !important;
}

.tweet-user {
    background-color: #242424 !important;
}

.follow-card {
    background-color: #282828 !important;
}

.follow-card .follow-bar {
    border: 1px solid #1d1d1d !important;
}

.follow-card .featured-list-actions {
    border-right: 1px solid #1d1d1d !important;
    border-left: 1px solid #1d1d1d !important;
}

.profile-card .flex-module {
    background-color: #282828 !important;
}

.profile-card.profile-header .profile-picture {
    background-color: #282828 !important;
}

.profile-social-proof {
    border-top: 1px solid #1d1d1d !important;
}

.find-friends-search form {
    background-color: #282828 !important;
}

.find-friends-top-subheader, .find-friends-bottom-subheader {
    background-color: #282828 !important;
}

.find-friends-bottom-subheader {
    border-top: 1px solid #1d1d1d !important;
}

.find-friends-sources {
    background-color: #282828 !important;
}

.find-friends-list li:hover {
    background-color: #1d1d1d !important;
}

.find-friends-list li {
    border-bottom: 1px solid #1d1d1d !important;
}

.find-friends-results {
    background-color: #282828 !important;
}

.content-searchbar {
    background-color: #242424 !important;
    border-bottom: 1px solid #1d1d1d !important;
}

.account-summary .dismiss {
    color: #545454 !important;
}

.message {
    background-color: #282828 !important;
}

.wtf-module .UserSmallListItem {
    border-bottom: 1px solid #1d1d1d !important;
}

.wtf-module .import-prompt .service {
    border: 1px solid #1d1d1d !important;
    background: #282828 !important;
}

.wtf-module .import-prompt .cta {
    border-bottom: 1px solid #1d1d1d !important;
}

.stream-item:not(.no-header-background-module) {
    background: #282828 !important;
}

.tweet:hover {
    background-color: #1d1d1d !important;
}

.permalink-tweet:hover, .permalink-tweet.focus {
    background-color: #282828 !important;
}

.stream-end-inner {
    background-color: #282828 !important;
}

.js-navigation-active.stream-item {
    background-color: #242424 !important;
}

.js-navigation-active.stream-item:hover {
    background-color: #282828 !important;
}

.new-tweets-bar {
    background-color: #242424 !important;
}

.new-tweets-bar:hover {
    background-color: #1d1d1d !important;
    border: 1px solid #545454 !important;
}

.tear {
    background: #242424 url("../../img/t1/bg_gap_bottom.png") top left !important;
}

.promoted-tweet-heading {
    border-bottom: 1px solid #1d1d1d !important;
}

.js-stream-item.is-selected:focus .ProfileCard {
    border-color: #545454 !important;
}

.conversation-module .conversation-tweet-item .tweet:hover {
    background-color: #242424 !important;
}

.opaque {
    background: #282828 !important;
}

.focal-point-animating {
    background: #282828 !important;
}

.stream-item.dismissed {
    background-color: #242424 !important;
    border-bottom: 1px solid #1d1d1d !important;
}

.stream-item .dismiss-module {
    border: 1px solid #1d1d1d !important;
}

.stream-item.no-header-background-module .dismiss-module {
    background: #282828 !important;
}

.dismiss-module .dismiss-module-item {
    border-bottom: 1px solid #1d1d1d !important;
}

.stream-item+.stream-item.separated-module:not(.no-header-background-module), .stream-item.separated-module+.stream-item:not(.no-header-background-module), .PromptbirdPrompt-streamItem.separated-module+.stream-item:not(.no-header-background-module) {
    border-top: 1px solid #1d1d1d !important;
}

.recap-footer:hover {
    background-color: #1d1d1d !important;
}

.recap-header {
    border-bottom: 1px solid #1d1d1d !important;
}

.EdgeButton--primary:focus {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #71c9f8 !important;
}

.EdgeButton--primary:active {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #1da1f2 !important;
}

.EdgeButton--secondary {
    background-color: #282828 !important;
}

.EdgeButton--secondary:focus {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #71c9f8 !important;
}

.EdgeButton--secondary:active {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #1da1f2 !important;
}

.EdgeButton--secondary.disabled, .EdgeButton--secondary[disabled], .EdgeButton--secondary[disabled]:hover, .EdgeButton--secondary[aria-disabled=true] {
    background-color: #282828 !important;
}

.EdgeButton--tertiary {
    background-color: #282828 !important;
}

.EdgeButton--tertiary:hover {
    background-color: #242424 !important;
}

.EdgeButton--tertiary:focus {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #545454 !important;
}

.EdgeButton--tertiary:active {
    background-color: #242424 !important;
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #999 !important;
}

.EdgeButton--tertiary.disabled, .EdgeButton--tertiary[disabled], .EdgeButton--tertiary[disabled]:hover, .EdgeButton--tertiary[aria-disabled=true] {
    background-color: #242424 !important;
    border-color: #242424 !important;
}

.EdgeButton--danger:focus {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #f6809a !important;
}

.EdgeButton--danger:active {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #e0245e !important;
}

.EdgeButton--invertedPrimary {
    background-color: #282828 !important;
}

.EdgeButton--invertedDanger:focus {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #ffb8c2 !important;
}

.EdgeButton--invertedDanger:active {
    box-shadow: 0 0 0 2px #282828,0 0 0 4px #e0245e !important;
}

.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:hover, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:focus, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:active {
    background-color: #343434 !important;
}


.ProfileCard {
    background-color: #282828 !important;
    border: 1px solid #1d1d1d !important;
}

.ProfileCard-avatarLink {
    background-color: #282828 !important;
}

.ProfileCard--withheld .ProfileCard-bg, .ProfileCard--withheld .ProfileCard-avatarImage {
    background-color: #242424 !important;
}

.ActivityItem {
    border-bottom: 1px solid #1d1d1d !important;
}

.ActivityItem.has-clickAction:hover {
    background: #242424 !important;
}

.ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover {
    background: #242424 !important;
}

.MessageStreamItem {
    border: 1px solid #1d1d1d !important;
}

.MessageStreamItem-inline {
    background: #282828 !important;
    border: 1px solid #1d1d1d !important;
}

.MomentStreamItem {
    border: 1px solid #1d1d1d !important;
}

.MomentStreamItem:hover {
    background-color: #242424 !important;
}

.Tombstone {
    background-color: #242424 !important;
    border: 1px solid #545454 !important;
}

.TweetstormDialog .TweetstormDialog-content.is-thread .modal-footer {
    border-top: 1px solid #1d1d1d !important;
}

.modal .modal-tweet {
    background-color: #282828 !important;
}

.RichEditor {
    background: #1d1d1d !important;
}

.TweetBoxAttachments .QuotedTweet, .TweetBoxAttachments .QuotedTweet .content, .TweetBoxAttachments .QuotedTweet .content .tweet {
    background-color: #282828 !important;
}

.tweet-form.quotedTweet-loading .TweetBoxAttachments .QuotedTweet .tweet-loading, .TweetBoxAttachments .QuotedTweet .tweet {
    border-top: 1px solid #1d1d1d !important;
}

.currently-dragging .is-droppable .RichEditor-scrollContainer {
    background: #282828 !important;
}

.tweet-form .thumbnail-container {
    background-color: #242424 !important;
    box-shadow: inset 0 1px 0 #545454 !important;
}

.geo-query-location {
    background-color: #282828 !important;
    border-bottom: 1px solid #1d1d1d !important;
}

.TweetBoxUploadProgress-bar {
    border: 1px solid #545454 !important;
}

.user-select-container {
    background-color: #282828 !important;
}

.user-select-container .cannot-select {
    background-color: #1d1d1d !important;
}

.user-select-controls {
    border: 1px solid #1d1d1d !important;
}

.t1-legend {
    border-bottom: 1px solid #1d1d1d !important;
}

input, textarea, div[contenteditable], .t1-select {
    background-color: #1d1d1d !important;
}

input[type=file] {
    background-color: #282828 !important;
}

.t1-select[multiple] {
    background-color: #282828 !important;
}

.disabled, .disabled:hover, .disabled:focus, .disabled:active, input[disabled], .t1-select[disabled], textarea[disabled], input[readonly], .t1-select[readonly], textarea[readonly], div[contenteditable="false"], div[contenteditable="true"][readonly] {
    background: #242424 !important;
    border-color: #545454 !important;
}

.Banner .flex-module {
    background: #545454 !important;
}

.Banner .banner-row .btn {
    border: 1px solid #1d1d1d !important;
}

.Banner--aboveNav {
    background-color: #545454 !important;
}

.Banner--aboveNav+.Banner--aboveNav {
    border-top: 1px solid #1d1d1d !important;
}

.DashboardProfileCard {
    background: #282828 !important;
}

.DashboardProfileCard-avatarContainer .dropdown-divider {
    border-bottom-color: #1d1d1d !important;
}

.DashboardProfileCard-avatarLink {
    background-color: #282828 !important;
}

.DashboardProfileCard-avatarImage {
    border: 2px solid #282828 !important;
}

.tweet .account-in-timeline-blk {
    border-top: 1px solid #1d1d1d !important;
}

.Checkbox:checked, .Checkbox-fake {
    border: 2px solid #1d1d1d !important;
}

.Checkbox:checked, .Checkbox-fake:hover {
    border-color: #545454 !important;
}

.ProfileTweet-action--retweet .ProfileTweet-actionButton.is-disabled, .ProfileTweet-action--retweet .ProfileTweet-actionButton.is-disabled .ProfileTweet-actionCount, .ProfileTweet-action--retweet:hover .ProfileTweet-actionButton.is-disabled, .ProfileTweet-action--retweet .ProfileTweet-actionButton.is-disabled:focus, .ProfileTweet-action--retweet:hover .ProfileTweet-actionButton.is-disabled .ProfileTweet-actionCount, .ProfileTweet-action--retweet .ProfileTweet-actionButton.is-disabled:focus .ProfileTweet-actionCount {
    color: #1d1d1d !important;
}

.QuoteTweet {
    border: solid 1px #1d1d1d !important;
}

.QuoteTweet--unavailable {
    background: #1d1d1d !important;
}

.QuoteTweet--sensitive {
    background: #1d1d1d !important;
}

.PromptbirdPrompt {
    background: #282828 !important;
}


.PromptbirdPrompt+.js-stream-item>.tweet {
    border-top: 1px solid #1d1d1d !important;
}

.PromptbirdPrompt-arrow {
    background-color: #282828 !important;
}

.PromptbirdPrompt--inline, .PromptbirdPrompt--inlinePointer {
    border: 1px solid #1d1d1d !important;
}

.PromptbirdPrompt--black .PromptbirdPrompt-explanation, .PromptbirdPrompt--black .modal-close .Icon--close, .PromptbirdPrompt--black .PromptbirdPrompt-dismiss {
    color: #545454 !important;
}

.PromptbirdPrompt--aboveTimeline {
    border: 1px solid #1d1d1d !important;
}

.PromptbirdPrompt--dashboardProfile {
    border-top: 1px solid #545454 !important;
    background-color: #242424 !important;
}

.PromptbirdPrompt--dashboardProfile .PromptbirdPrompt-arrow {
    background-color: #242424 !important;
    border-color: #545454 !important;
}

.HomeEmptyTimeline {
    background-color: #282828 !important;
    border: 1px solid #1d1d1d !important;
}

.nav>li {
    color: #999999;
}
